.moviesstyling {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.moviefooter > .stylefooter{
top: 2300px;
}
@media (max-width: 800px) {
    .moviestyling2 p {
        width: 600px;
        height: 100px;
        text-align: justify;
        object-fit: cover;
    }

    .moviestying1 {
        font-size: 2rem;
    }

    .moviesstyling{
        box-sizing: border-box;
        width: 850px;
        background-size: cover;
    }

    .buttonstyle {
        margin-top: auto;
        height: auto;
    }
}
@media (max-width: 700px) {
    .moviestyling2 p {
        width: 500px;
    }
}

@media (max-width: 600px) {
    .moviestyling2 p {
        width: 450px;
        text-align: justify;
        object-fit: cover;
    }

    .moviestying1 {
        font-size: 2rem;
    }

    .moviesstyling {
        background-size: cover;

        background-position: center;
    }

    .buttonstyle {
        margin-top: auto;
        height: auto;
    }
}
@media (max-width: 500px) {
    .moviestyling2 p {
        display: none;
    }
}
