.navbar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 5px;
    
    position: fixed;
    gap: 20px;
    width: 100%;
    z-index: 10;  
    /* background: linear-gradient(to right, #2f2d2c, #24232212); */
}
.navbar *{
    color: white;
    text-decoration: none;
}
.navbarleft *:active{
    font-weight: bolder;

}

.navbarleft{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
}
.navbarright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 5px;
    padding-right: 10px;
    margin-right: 30px;

}
.dropdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}
.dropdown1{
    display: none;
}
.dropdown:hover 
{
.dropdown1{
    display: block;   
    position: absolute;
    top: 10px;

}
.dropdown2{
    position: fixed;
}
}
.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.searchdisplay > input{
    color: black;
}
input{
    all: unset;
    padding: 10px;
    width:200px;
    height: 20px;
    background-color: rgb(232, 224, 224);
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(218, 157, 157);
    color: red;
}
.activeclass{
    font-weight: bolder;
    color: rgb(248, 244, 244);
}
.styelmenubar{
    display: none;
}
.subclass{
    display: none;
}

@media (max-width: 840px) {
    .styelmenubar{
        display: block;
        position: relative;
    
    }
    .hide{
        display: none;
    }
    .dropdown{
        display: none;
    }
    .totalmenustyle{
        display: flex;
        flex-direction: column;
    }
    .subclass{
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 60px;
    }
}
.userstyle {
    position: relative;
}

.userlogostyle {
    position: absolute;
    top: 30px;
    display: block;
    width: 500px;
    right: 70px;
}

.userlogostyle>h1 {
    font-size: small;

}

.userlogostyle>.product-card {
    margin-bottom: 5px;
    padding: 5px;
}

.userlogostyle>.subscription-heading {
    padding: 5px;
}

.userlogostyle>.subscription-container >.homelogoutstyle > button {
    display: none;
}
@media (max-width: 750px){
.navbar{
    box-sizing: content-box;
}

}
@media (max-width: 506px){
 
input{
    width: 120px;
}
.navbarright{
    gap: 10px;
}
}
@media (max-width: 400px){
    .navbar{
        gap: 5px;
    }
}
/* .stylescroll{
    background-color: rgb(77, 73, 73);
} */
